@model Pbl.Models.ViewModel.AlunosGrupoViewModel

@{
    ViewBag.Title = "View";
}

<h3>
    Grupo: @Model.grupo.descGrupo
    <small>Adicionar alunos ao grupo @Model.grupo.descGrupo</small>
    <small>Tutor: @Model.grupo.Professor.nomeProfessor</small>
</h3>



<form action="@Url.Action("VincularAlunosGrupo","ControleMed")" id="frmAlunoGrupo" method="post">

    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- START DATATABLE 1 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Alunos Disponíveis</h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table id="example" class="display DataTable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Inscrição na turma</th>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var aluno in Model.AlunosDisponiveis)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => aluno.idInscricaoTurma)</td>
                                            <td>@Html.DisplayFor(modelItem => aluno.Aluno.nomeAluno)</td>
                                            <td>@Html.DisplayFor(modelItem => aluno.Aluno.cpfAluno)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <button type="button" id="delRow" class="btn btn-labeled btn-default">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" id="addRow" class="btn btn-labeled btn-default">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Alunos Selecionados</h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="datatableDemo2" class="display DataTable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Inscrição na Turma</th>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var aluno in Model.AlunosInscritos)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => aluno.idInscricaoTurma)</td>
                                            <td>@Html.DisplayFor(modelItem => aluno.Aluno.nomeAluno)</td>
                                            <td>@Html.DisplayFor(modelItem => aluno.Aluno.cpfAluno)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div id="hiddensForm">
                                <input type="hidden" name="idGrupo" value="@Model.grupo.idGrupo" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hidden-print" />
                <div class="clearfix">
                    <button type="button" class="btn btn-labeled btn-default" id="btnVoltar" onclick="history.back();">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>Voltar
                    </button>
                    <button type="button" id="enviaForm" class="btn btn-labeled btn-success pull-right">
                        Salvar
                        <span class="btn-label btn-label-right">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    
    <script>
        $('#example').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json",
                buttons: {
                    copy: 'Copiar',
                    copyTitle: 'Copiado para o clipboard',
                    copySuccess: 'Foram copiadas %d linhas para o clipboard',
                    print: 'Imprimir',
                }
            }, //Idioma Português
        });

        var dtInstance2 = $('#datatableDemo2').dataTable({
            'paging': true,  // Table pagination
            'ordering': true,  // Column ordering
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json",
                buttons: {
                    copy: 'Copiar',
                    copyTitle: 'Copiado para o clipboard',
                    copySuccess: 'Foram copiadas %d linhas para o clipboard',
                    print: 'Imprimir',
                }
            }, //Idioma Português
            'info': true,  // Bottom left status text
            'responsive': true, // https://datatables.net/extensions/responsive/examples/
        });
        var inputSearchClass = 'datatable_input_col_search';
        var columnInputs = $('tfoot .' + inputSearchClass);

        // On input keyup trigger filtering
        columnInputs
            .keyup(function () {
                dtInstance2.fnFilter(this.value, columnInputs.index(this));
            });

    </script>
    <script>

        $(document).ready(function () {
            var oTable = $('#example').DataTable();
            var dTable = $('#datatableDemo2').DataTable();

            $('#example tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var pos = oTable.row(this).index();
                var row = oTable.row(pos).data();
                console.log(row);
            });

            $('#datatableDemo2 tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var pos = dTable.row(this).index();
                var row = dTable.row(pos).data();
                console.log(row);
            });


            $('#addRow').click(function () {
                var oData = oTable.rows('.selected').data();

                for (var i = 0; i < oData.length; i++) {

                    dTable.row.add([
                        oData[i][0],
                        oData[i][1],
                        oData[i][2]
                    ]).draw(false);

                    //alert("Disciplina: " + oData[i][0] + " Tipo de Disciplina: " + oData[i][1]);
                }
                var rows = oTable
                    .rows('.selected')
                    .remove()
                    .draw();

            });
            $('#delRow').click(function () {
                var dData = dTable.rows('.selected').data();

                for (var i = 0; i < dData.length; i++) {

                    oTable.row.add([
                        dData[i][0],
                        dData[i][1],
                        dData[i][2]
                    ]).draw(false);



                    //alert("Disciplina: " + oData[i][0] + " Tipo de Disciplina: " + oData[i][1]);
                }
                var rows = dTable
                    .rows('.selected')
                    .remove()
                    .draw();

            });
        });
    </script>
    <script>
        var table = $('#datatableDemo2').DataTable();

        // Handle form submission event
        $('#enviaForm').on('click', function (e) {
            e.preventDefault();
            table
                .column(0)
                .data()
                .each(function (value, index) {
                    $('#hiddensForm').append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', 'alunos[]')
                            .val(value)
                    );
                });
            document.getElementById("frmAlunoGrupo").submit();
        });
    </script>

}