@model Pbl.Models.Grupo

@{
    ViewBag.Title = "AdicionarGrupos";
}

<h2>AdicionarGrupos</h2>

@using (Html.BeginForm("AdicionarGrupoAction","ControleMed")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Grupo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idProfessor, "idProfessor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProfessor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProfessor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descGrupo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descGrupo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descGrupo, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.TextBoxFor(model => model.idMed, new {@type = "hidden" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
