@model IEnumerable<Pbl.Models.ControleNotasXProva>

@{
    ViewBag.Title = "AvaliarSimulado";
}

<h2>AvaliarSimulado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ControleNotasXProva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idControleNotas)

        @Html.HiddenFor(model => model.idProva)

        <div class="form-group">
            @Html.LabelFor(model => model.numAcertos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numAcertos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numAcertos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
