@model IEnumerable<Pbl.Models.Prova>

@{
    ViewBag.Title = "GerenciarSimulados";
}

<h2>GerenciarSimulados</h2>

<p>
    @Html.ActionLink("Adicionar Simulado", "AdicionarSimulado", new { idMed = ViewBag.idMed })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroQuestoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProva.descTipoProva)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroQuestoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProva.descTipoProva)
            </td>
            <td>
                @Html.ActionLink("Avaliar", "AvaliarSimulado", new { idProva = item.idProva })
            </td>
        </tr>
    }

</table>
