@model IEnumerable<Pbl.Models.Prova>

@{
    ViewBag.Title = "GerenciarSimulados";
}

<h2>GerenciarSimulados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valorQuestao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProva.descTipoProva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valorQuestao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProva.descTipoProva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProva }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProva })
        </td>
    </tr>
}

</table>
