@model IEnumerable<Pbl.Models.Grupo>

@{
    ViewBag.Title = "GerenciarGrupos";
}

<h2>GerenciarGrupos</h2>

<p>
    @Html.ActionLink("Adicionar grupo", "AdicionarGrupos", "ControleMed", new { idMed = ViewBag.idMed }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Med.descMed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.nomeProfessor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Med.descMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.nomeProfessor)
            </td>
            <td>
                @Html.ActionLink("Adicionar Alunos", "AdicionarAlunosGrupo", new { idGrupo = item.idGrupo }) |
                @Html.ActionLink("Deletar Grupo", "DeletarGrupo", new { id = item.idGrupo })
            </td>
        </tr>
    }

</table>
