@model Pbl.Models.ViewModel.VincularProblemaViewModel
@{
    ViewBag.Title = "VincularProblemas";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>

<h3>
    Vincular Problemas
    <small> Página para vincular problemas com uma determinada MED.</small>
</h3>


<form action="@Url.Action("VincularDisciplinasMed","ControleMed")" id="frmDisciplinaMed" method="post">

    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- START DATATABLE 1 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Disponíveis</h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table id="example" class="display DataTable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var problema in Model.ListProblemaDisponiveis)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => problema.tituloProblema)</td>
                                            <td>@Html.DisplayFor(modelItem => problema.descProblema)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <button type="button" id="delRow"><<</button>
                <button type="button" id="addRow">>></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Selecionadas</h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="datatableDemo2" class="display DataTable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var problema in Model.ListProblemasCadastrados)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => problema.Problema.tituloProblema)</td>
                                            <td>@Html.DisplayFor(modelItem => problema.Problema.descProblema)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div id="hiddensForm">
                                <input type="hidden" name="idMed" value="@Model.MedAtual.idMed" />
                            </div>
                            <button type="button" id="enviaForm">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")

    <script>
        var dtInstance2 = $('#datatableDemo2').dataTable({
            'paging': true,  // Table pagination
            'ordering': true,  // Column ordering
            'info': true,  // Bottom left status text
            'responsive': true, // https://datatables.net/extensions/responsive/examples/
            // Text translation options
            // Note the required keywords between underscores (e.g _MENU_)
            oLanguage: {
                sSearch: 'Search all columns:',
                sLengthMenu: '_MENU_ records per page',
                info: 'Showing page _PAGE_ of _PAGES_',
                zeroRecords: 'Nothing found - sorry',
                infoEmpty: 'No records available',
                infoFiltered: '(filtered from _MAX_ total records)'
            }
        });
        var inputSearchClass = 'datatable_input_col_search';
        var columnInputs = $('tfoot .' + inputSearchClass);

        // On input keyup trigger filtering
        columnInputs
            .keyup(function () {
                dtInstance2.fnFilter(this.value, columnInputs.index(this));
            });

    </script>
    <script>

        $(document).ready(function () {
            var oTable = $('#example').DataTable();
            var dTable = $('#datatableDemo2').DataTable();

            $('#example tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var pos = oTable.row(this).index();
                var row = oTable.row(pos).data();
                console.log(row);
            });

            $('#datatableDemo2 tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var pos = dTable.row(this).index();
                var row = dTable.row(pos).data();
                console.log(row);
            });


            $('#addRow').click(function () {
                var oData = oTable.rows('.selected').data();

                for (var i = 0; i < oData.length; i++) {

                    dTable.row.add([
                        oData[i][0],
                        oData[i][1],
                        oData[i][2]
                    ]).draw(false);

                    //alert("Disciplina: " + oData[i][0] + " Tipo de Disciplina: " + oData[i][1]);
                }
                var rows = oTable
                    .rows('.selected')
                    .remove()
                    .draw();

            });
            $('#delRow').click(function () {
                var dData = dTable.rows('.selected').data();

                for (var i = 0; i < dData.length; i++) {

                    oTable.row.add([
                        dData[i][0],
                        dData[i][1],
                        dData[i][2]
                    ]).draw(false);



                    //alert("Disciplina: " + oData[i][0] + " Tipo de Disciplina: " + oData[i][1]);
                }
                var rows = dTable
                    .rows('.selected')
                    .remove()
                    .draw();

            });
        });
    </script>
    <script>
        var table = $('#datatableDemo2').DataTable();

        // Handle form submission event
        $('#enviaForm').on('click', function (e) {
            e.preventDefault();
            table
                .column(0)
                .data()
                .each(function (value, index) {
                    $('#hiddensForm').append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', 'disciplina[]')
                            .val(value)
                    );
                });
            document.getElementById("frmDisciplinaMed").submit();
        });
    </script>

}