@model Pbl.Models.Professor
@{
    ViewBag.Title = "Create";
}
<meta charset="utf-8">
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a><a href="@Url.Action("Index","ControleProfessores")" title="Vá para Controle Professores" class="tip-bottom"><i class="fa fa-graduation-cap"></i> Professor</a></div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <form action="" method="post" class="form-styles">
                    <h1>Cadastro de Professores</h1>
                    @using (Html.BeginForm("Create", "ControleProfessores"))
                    {
                        @Html.ValidationSummary(true, "Algo não está certo.");
                        <ul>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nome do Professor</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="nomeProfessor" placeholder="Nome do Professor" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">CPF do Professor</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="cpfProfessor" placeholder="CPF do Professor" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Senha do Professor</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="senhaProfessor" placeholder="Senha do Professor" class="form-control" type="password">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @Html.AntiForgeryToken()
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button type="submit" value="Salvar" class="btn btn-warning">Cadastrar <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        @*
                        <ul>
                            <li>
                                <input name="nomeProfessor" type="text" placeholder="Nome Professor" />
                                <span>Informe o Nome</span>
                            </li>
                            <li>
                                <input name="cpfProfessor" type="text" placeholder="CPF" />
                                <span>Informe o CPF</span>
                            </li>
                            <li>
                                <input name="senhaProfessor" type="password" placeholder="Senha" />
                                <span>Informe a senha</span>
                            </li>
                            @Html.AntiForgeryToken()
                            <li>
                                <input type="submit" value="Salvar" />
                            </li>
                        </ul>
                        *@
                    }
                </form>
                @*
    <h2>
        Cadastro de Professores
    </h2>
    @using (Html.BeginForm("Create", "ControleProfessores"))
    {
        @Html.ValidationSummary(true, "Algo não está certo.");
        <div class="form-group">
            @Html.LabelFor(m => m.nomeProfessor)
            @Html.TextBoxFor(m => m.nomeProfessor, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.nomeProfessor)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.cpfProfessor)
            @Html.TextBoxFor(m => m.cpfProfessor, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.cpfProfessor)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.senhaProfessor)
            @Html.TextBoxFor(m => m.senhaProfessor, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(m => m.senhaProfessor)
        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    }*@

            </div>
        </div>
    </div>
</div>