@model IEnumerable<Pbl.Models.Professor>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a><a href="@Url.Action("Index","ControleProfessores")" title="Vá para Controle Professores" class="tip-bottom"><i class="fa fa-graduation-cap"></i> Professor</a></div>
</div>
<h2>Controle de Professores @Html.ActionLink("Adicionar", "Create", null, new { @class = "classname" })</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">

                <div class="widget-content nopadding">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="myTable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cpf</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@Html.DisplayFor(modelItem => item.nomeProfessor)</td>
                                        <td>@Html.DisplayFor(modelItem => item.cpfProfessor)</td>
                                        <td>
                                            <i class="fa fa-pencil "></i>   @Html.ActionLink("Alterar", "Update", new { id = item.idProfessor }, new { @class = "alter" })
                                            <i class="fa fa-times "></i>  @Html.ActionLink("Deletar", "Delete", new { id = item.idProfessor }, new { @class = "alter" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
