@model Pbl.Models.Professor
@{
    ViewBag.Title = "Update";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<h3>
    Professor
    <small>Formulário para atualização de Professor</small>
</h3>
<form action="" method="post" class="form-horizontal" onsubmit="return validaForm();">
    <input type="hidden" name="idProfessor" value="@Model.idProfessor" />
    <div class="panel panel-default">
        <div class="panel-heading">Update</div>
        <div class="panel-body">

            @Html.AntiForgeryToken()
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" required name="nomeProfessor" placeholder="Nome" class="form-control input-sm" value="@Model.nomeProfessor" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">CPF</label>
                    <div class="col-sm-10">
                        <input type="text" required name="cpfProfessor" placeholder="CPF" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" onblur="msgErroCpf();" class="form-control input-sm" value="@Model.cpfProfessor" />
                        <span id="msgCpf" class="text-danger small"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tornar Diretor</label>
                    <div class="col-sm-10">
                        <input type="checkbox" name="tornarDiretor" value="1" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- END panel-->
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Editar
        </button>
    </div>
</form>


@section scripts{
    @Scripts.Render("~/bundles/jqueryMask")
    @Scripts.Render("~/bundles/site")
    <script>
        jQuery(function ($) {
            $("#cpf").mask("999.999.999-99");
        });
        function validaForm() {
            if (!validarCPF('cpf')) {
                document.getElementById('cpf').focus();
                return false;
            }
        }

        function msgErroCpf() {
            if (!validarCPF('cpf')) {
                document.getElementById('msgCpf').innerText = "CPF inválido";
                return false;
            } else {
                document.getElementById('msgCpf').innerText = "";
            }
        }

    </script>
}
