@model Pbl.Models.ViewModel.SemestreViewModel
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>


<h3>
    Cadastro de Semestres
    <small> Formulario para Cadastro dos Semestres</small>
</h3>
@using (Html.BeginForm("Create", "ControleSemestres"))
{
    <div class="panel panel-default">
        <div class="panel-heading">Cadastro</div>
        <div class="panel-body">

            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <label class="col-sm-2">Módulo 1</label>
                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            @Html.TextBoxFor(c => c.DataInicioModulo1, new { @class = "form-control input-sm widDate toRight", @type = "date", @id = "inicioModulo1", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataInicioModulo1)
                        </div>
                        <div class="col-sm-1 textMiddle" style="display:none" id="divLabelModulo1"><label>até</label></div>
                        <div class="col-sm-4" style="display:none" id="divDtFimModulo1">
                            @Html.TextBoxFor(c => c.DataFinalModulo1, new { @class = "form-control input-sm widDate", @type = "date", @id = "fimModulo1", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataFinalModulo1)
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldsetModulo2" style="display:none;">
                <div class="row">
                    <label class="col-sm-2">Módulo 2</label>
                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            @Html.TextBoxFor(c => c.DataInicioModulo2, new { @class = "form-control input-sm widDate toRight", @type = "date", @id = "inicioModulo2", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataInicioModulo2)
                        </div>
                        <div class="col-sm-1 textMiddle" style="display:none" id="divLabelModulo2"><label>até</label></div>
                        <div class="col-sm-4" style="display:none" id="divDtFimModulo2">
                            @Html.TextBoxFor(c => c.DataFinalModulo2, new { @class = "form-control input-sm widDate", @type = "date", @id = "fimModulo2", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataFinalModulo2)
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldsetModulo3" style="display:none;">
                <div class="row">
                    <label class="col-sm-2">Módulo 3</label>
                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            @Html.TextBoxFor(c => c.DataInicioModulo3, new { @class = "form-control input-sm widDate toRight", @type = "date", @id = "inicioModulo3", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataInicioModulo3)
                        </div>
                        <div class="col-sm-1 textMiddle" style="display:none" id="divLabelModulo3"><label>até</label></div>
                        <div class="col-sm-4" style="display:none" id="divDtFimModulo3">
                            @Html.TextBoxFor(c => c.DataFinalModulo3, new { @class = "form-control input-sm widDate", @type = "date", @id = "fimModulo3", @required = "required" })
                            @Html.ValidationMessageFor(c => c.DataFinalModulo3)
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Cadastrar
        </button>
    </div>
}

<!-- END panel-->
@section Styles {
    @Styles.Render("~/bundles/siteCss")
}
@section Scripts {
    <script>
        var todayDate = new Date().toISOString().slice(0, 10);
        var inicioModulo1 = "";
        var inicioModulo2 = "";
        var inicioModulo3 = "";
        var fimModulo1 = "";
        var fimModulo2 = "";
        var fimModulo3 = "";

        $('#inicioModulo1').change(function () {
            document.getElementById('divDtFimModulo1').style.display = "block";
            document.getElementById('divLabelModulo1').style.display = "block";
            inicioModulo1 = $('#inicioModulo1').val();
        });
        $('#fimModulo1').change(function () {
            document.getElementById('fieldsetModulo2').style.display = "block";
            fimModulo1 = $('#fimModulo1').val();
        });
        $('#inicioModulo2').change(function () {
            document.getElementById('divDtFimModulo2').style.display = "block";
            document.getElementById('divLabelModulo2').style.display = "block";
            inicioModulo2 = $('#inicioModulo2').val();
        });
        $('#fimModulo2').change(function () {
            document.getElementById('fieldsetModulo3').style.display = "block";
            fimModulo2 = $('#fimModulo2').val();
        });
        $('#inicioModulo3').change(function () {
            document.getElementById('divDtFimModulo3').style.display = "block";
            document.getElementById('divLabelModulo3').style.display = "block";
            inicioModulo3 = $('#inicioModulo3').val();
        });
        function validateDate(objValidacao, dataInicio) {
            var todayDate = new Date().toISOString().slice(0, 10);
            $(objValidacao).attr("min", dataInicio);
            $(objValidacao).attr("max", "2099-12-31");
        }

        $("#inicioModulo1").focus(function () {
            validateDate(this, todayDate);
        });

        $("#fimModulo1").focus(function () {
            validateDate(this, inicioModulo1);
        });

        $("#inicioModulo2").focus(function () {
            validateDate(this, fimModulo1);
        });

        $("#fimModulo2").focus(function () {
            validateDate(this, inicioModulo2);
        });

        $("#inicioModulo3").focus(function () {
            validateDate(this, fimModulo2);
        });

        $("#fimModulo3").focus(function () {
            validateDate(this, inicioModulo3);
        });

    </script>
}
