@model Pbl.Models.ViewModel.SemestreViewModel
@{
    ViewBag.Title = "Update";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>

<h3>
    Alteração de Semestre
    <small> Formulário para Alteração dos Semestres</small>
</h3>
@using (Html.BeginForm("Update", "ControleSemestres"))
{
    <div class="panel panel-default">
        <div class="panel-heading">Alterar Semestre</div>
        <div class="panel-body">

            @Html.ValidationSummary(true, "Algo não está certo")
            @Html.TextBoxFor(c => c.idSemestre, new { @value = Model.idSemestre, @type = "hidden" })
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Inicio Modulo 1</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataInicioModulo1" id="inicioModulo1" value="@Model.DataInicioModulo1.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Final Modulo 1</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataFinalModulo1" id="fimModulo1" value="@Model.DataFinalModulo1.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(c => c.DataFinalModulo1)
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Inicio Modulo 2</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataInicioModulo2" id="inicioModulo2" value="@Model.DataInicioModulo2.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(c => c.DataInicioModulo2)
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Final Modulo 2</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataFinalModulo2" id="fimModulo2" value="@Model.DataFinalModulo2.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(c => c.DataFinalModulo2)
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Inicio Modulo 3</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataInicioModulo3" id="inicioModulo3" value="@Model.DataInicioModulo3.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(c => c.DataInicioModulo3)
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Data Final Modulo 3</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DataFinalModulo3" id="fimModulo3" value="@Model.DataFinalModulo3.ToString("yyyy-MM-dd")" />
                        @Html.ValidationMessageFor(c => c.DataFinalModulo3)
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- END panel-->
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Alterar
        </button>
    </div>
}


@section Styles {
    @Styles.Render("~/bundles/siteCss")
}
@section Scripts {
    <script>
        var todayDate = new Date().toISOString().slice(0, 10);
        var inicioModulo1 = "@Model.DataInicioModulo1.ToString("yyyy-MM-dd")";
        var inicioModulo2 = "@Model.DataInicioModulo2.ToString("yyyy-MM-dd")";
        var inicioModulo3 = "@Model.DataInicioModulo3.ToString("yyyy-MM-dd")";
        var fimModulo1 = "@Model.DataFinalModulo1.ToString("yyyy-MM-dd")";
        var fimModulo2 = "@Model.DataFinalModulo2.ToString("yyyy-MM-dd")";
        var fimModulo3 = "@Model.DataFinalModulo3.ToString("yyyy-MM-dd")";



        $('#inicioModulo1').change(function () {
            document.getElementById('divDtFimModulo1').style.display = "block";
            document.getElementById('divLabelModulo1').style.display = "block";
            inicioModulo1 = $('#inicioModulo1').val();
        });
        $('#fimModulo1').change(function () {
            document.getElementById('fieldsetModulo2').style.display = "block";
            fimModulo1 = $('#fimModulo1').val();
        });
        $('#inicioModulo2').change(function () {
            document.getElementById('divDtFimModulo2').style.display = "block";
            document.getElementById('divLabelModulo2').style.display = "block";
            inicioModulo2 = $('#inicioModulo2').val();
        });
        $('#fimModulo2').change(function () {
            document.getElementById('fieldsetModulo3').style.display = "block";
            fimModulo2 = $('#fimModulo2').val();
        });
        $('#inicioModulo3').change(function () {
            document.getElementById('divDtFimModulo3').style.display = "block";
            document.getElementById('divLabelModulo3').style.display = "block";
            inicioModulo3 = $('#inicioModulo3').val();
        });
        function validateDate(objValidacao, dataInicio) {
            var todayDate = new Date().toISOString().slice(0, 10);
            $(objValidacao).attr("min", dataInicio);
            $(objValidacao).attr("max", "2099-12-31");
        }

        $("#inicioModulo1").focus(function () {
            validateDate(this, todayDate);
        });

        $("#fimModulo1").focus(function () {
            validateDate(this, inicioModulo1);
        });

        $("#inicioModulo2").focus(function () {
            validateDate(this, fimModulo1);
        });

        $("#fimModulo2").focus(function () {
            validateDate(this, inicioModulo2);
        });

        $("#inicioModulo3").focus(function () {
            validateDate(this, fimModulo2);
        });

        $("#fimModulo3").focus(function () {
            validateDate(this, inicioModulo3);
        });

    </script>
}