@model IEnumerable<Pbl.Models.AvaliacaoTutoria>

@{
    ViewBag.Title = "AvaliacoesEmAberto";
}

<h3>
    Problemas | Grupo: @(((Pbl.Models.Grupo)ViewData["Grupo"]).descGrupo)
    <small> Gerencie os problemas do Grupo @(((Pbl.Models.Grupo)ViewData["Grupo"]).descGrupo)</small>
</h3>


<div class="container-fluid">
    <!-- START DATATABLE 1 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="datatable1" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Problema</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@item.ProblemaXMed.Problema.tituloProblema</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-default" onclick="window.location = '@Url.Action("MontarFichaAvaliativa","GerenciarProblemasMinistrados", new { idProblemaXMed = item.idProblemaxMed, idGrupo = item.idGrupo})'">
                                                <em class="fa fa-cog"></em>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
}


@model IEnumerable<Pbl.Models.AvaliacaoTutoria>

@{
    ViewBag.Title = "AvaliacoesEmAberto";
}

<h2>AvaliacoesEmAberto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProblemaXMed.Problema.descProblema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.descGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControleNotas.idControleNotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemaXMed.idProblemaxMed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemaXMed.Problema.descProblema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.descGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControleNotas.idControleNotas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemaXMed.idProblemaxMed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAvaliacaoTutoria })
        </td>
    </tr>
}

</table>
