@model Pbl.Models.ViewModel.DetalhesModuloAlunoViewModel

@{
    ViewBag.Title = "DetalhesModulo";
}

<h3>
    @Model.descModulo
    <small> Avaliações @Model.descModulo</small>
</h3>

<div class="col-md-4">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">Disciplinas</div>
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Tipo Avaliação</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var disciplina in Model.disciplinas)
                    {
                        <tr>
                            <td>@disciplina.descDisciplina</td>
                            <td>
                                @disciplina.tipoAvaliacao
                            </td>
                            <td>
                                @disciplina.nota
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
    </div>
    <!-- END panel-->
</div>

<div class="col-md-4">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">Problemas</div>
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var problema in Model.problemas)
                    {
                        <tr>
                            <td>@problema.tituloProblema</td>
                            <td>@problema.notaFinal</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
    </div>
    <!-- END panel-->
</div>

<div class="col-md-4">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">Simulados</div>
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Simulado</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tutoria</td>
                        <td>@Model.notaSimuladoTutoria</td>
                    </tr>
                    <tr>
                        <td>Morfofuncional</td>
                        <td>@Model.notaSimuladoMorfofuncional</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
    </div>
    <!-- END panel-->
</div>