@model IEnumerable<Pbl.Models.ViewModel.ListagemMedsAlunoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    @foreach (var med in Model)
    {
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">@med.descMed - @med.descSemestre</div>
                <div class="panel-body">Módulo 1 - @med.notas.ElementAt(0)</div>
                <div class="panel-body">Módulo 2 - @med.notas.ElementAt(1)</div>
                <div class="panel-body">Módulo 3 - @med.notas.ElementAt(2)</div>
                <div class="panel-footer"><a href="@Url.Action("DetalhesMed","AcompanhamentoMeds",new { idMed = med.idMed})" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-exclamation"></i></span>Detalhes</a></div>
            </div>
        </div>
    }
</div>