@model IEnumerable<Pbl.Models.ViewModel.ListagemMedsAlunoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    @foreach (var med in Model)
    {
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">@med.descMed - @med.descSemestre</div>
                <div class="panel-body">
                    <div class="col-md-6">Módulo 1 - @med.notas.ElementAt(0)</div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm" title="Selecionar Módulo" onclick="window.location = '@Url.Action("DetalhesModulo","AcompanhamentoMeds",new { idControleNotas = med.idControleNotas.ElementAt(0)})'">
                            <em class="fa fa-search"></em>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">Módulo 2 - @med.notas.ElementAt(1)</div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm" title="Selecionar Módulo" onclick="window.location = '@Url.Action("DetalhesModulo","AcompanhamentoMeds",new { idControleNotas = med.idControleNotas.ElementAt(1)})'">
                            <em class="fa fa-search"></em>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">Módulo 3 - @med.notas.ElementAt(2)</div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm" title="Selecionar Módulo" onclick="window.location = '@Url.Action("DetalhesModulo","AcompanhamentoMeds",new { idControleNotas = med.idControleNotas.ElementAt(2)})'">
                            <em class="fa fa-search"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>