@model IEnumerable<Pbl.Models.Disciplina>
@{
    ViewBag.Title = "Disciplinas";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<h3>
    Controle de Disciplinas
    <small> Pagina de Controle de Disciplinas</small>
</h3>


<div class="container-fluid">
    <!-- START DATATABLE 1 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a href="@Url.Action("Create", "ControleDisciplinas")">
                        <i class="fa fa-plus"></i>
                        Adicionar Disciplina
                    </a>

                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="datatable1" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Disciplina</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@Html.DisplayFor(c => item.descDisciplina)</td>
                                        <td>@Html.DisplayFor(c => item.TipoDisciplina.descTipoDisciplina)</td>
                                        @if (item.ativo)
                                        {
                                            <td>Disciplina Ativa</td>
                                        }
                                        else
                                        {
                                            <td>Disciplina Inativa</td>
                                        }
                                        <td>
                                            <i class="fa fa-pencil "></i>  @Html.ActionLink("Alterar", "Update", new { id = item.idDisciplina }, new { @class = "alter" })
                                            <i class="fa fa-times "></i> @Html.ActionLink("Deletar", "Delete", new { id = item.idDisciplina }, new { @class = "alter" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
}




@*






    <div id="content-header">
        <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","ControleDisciplinas")" title="Vá para Controle Disciplinas" class="tip-bottom"><img src="~/Content/img/client.png" class="home" />Disciplinas</a></div>
    </div>
    <h2>Controle de Disciplinas @Html.ActionLink("Adicionar", "Create", null, new { @class = "classname" })</h2>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Disciplina</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@Html.DisplayFor(c => item.descDisciplina)</td>
                                            <td>@Html.DisplayFor(c => item.TipoDisciplina.descTipoDisciplina)</td>
                                            @if (item.ativo.Value)
                                            {
                                                <td>Disciplina Ativa</td>
                                            }
                                            else
                                            {
                                                <td>Disciplina Inativa</td>
                                            }
                                            <td>
                                                <i class="fa fa-pencil "></i>  @Html.ActionLink("Alterar", "Update", new { id = item.idDisciplina }, new { @class = "alter" })
                                                <i class="fa fa-times "></i> @Html.ActionLink("Deletar", "Delete", new { id = item.idDisciplina }, new { @class = "alter" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
*@