@model Pbl.Models.Disciplina
@{
    ViewBag.Title = "Alterar Disciplina";
}

<h3>
    Atualização de Disciplina
    <small>Pagina para atualização das Diciplinas</small>
</h3>
<form action="" method="post" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">Update</div>
        <div class="panel-body">

            <input name="idDisciplina" type="hidden" value="@Model.idDisciplina" />
            @Html.ValidationSummary(true, "Algo não está certo")
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Disciplina</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="descDisciplina" placeholder="Disciplina">@Model.descDisciplina</textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo Disciplina</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(c => c.idTipoDisciplina, (SelectList)ViewBag.listaTipoDisciplina, "", new { @class = "form-control selectpicker"})
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo Disciplina</label>
                    <div class="col-sm-4">
                        @{
                            if (Model.ativo)
                            {
                                <label>Ativo</label>
                                <input type="radio" required="required" value="true" checked id="ativo" name="ativo" style="float:left" ; /><br />
                                <label>Inativo</label>
                                <input type="radio" value="false" id="ativo" name="ativo" style="float:left" ; />
                            }
                            else
                            {
                                <label>Ativo</label>
                                <input type="radio" required="required" value="false" id="ativo" name="ativo" style="float:left" ; /><br />
                                <label>Inativo</label>
                                <input type="radio" value="true" id="ativo" checked name="ativo" style="float:left" ; />
                            }
                        }
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- END panel-->
    @Html.AntiForgeryToken()
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Cadastrar
        </button>
    </div>
</form>

