@model Pbl.Models.ViewModel.DisciplinaViewModel
@{
    ViewBag.Title = "Alterar Disciplina";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","ControleDisciplinas")" title="Vá para Controle Disciplinas" class="tip-bottom"><img src="~/Content/img/client.png" class="home" />Disciplinas</a></div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">

                <form action="" method="post" class="form-styles">
                    <input name="disciplina.idDisciplina" type="hidden" value="@Model.disciplina.idDisciplina" />
                    <h1>Atualizar Aluno</h1>
                    <ul>
                        <li>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Disciplina</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea class="form-control" name="disciplina.descDisciplina" placeholder="Disciplina">@Model.disciplina.descDisciplina</textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group formselect">
                                <label class="col-md-4 control-label tiposelect">Tipo Disciplina</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                       @Html.DropDownListFor(c => c.disciplina.idTipoDisciplina, new SelectList(Model.listaTipoDisciplina, "idTipoDisciplina", "descTipoDisciplina"), "", new { @class = "form-control selectpicker" })
                                    @Html.ValidationMessageFor(c => c.disciplina.idTipoDisciplina)
                                    </div>
                                </div>
                            </div>
                        </li>
                        @Html.AntiForgeryToken()
                        <li>
                            <div class="form-group groupbutton">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button type="submit" value="Alterar" class="btn btn-warning">Alterar <span class="glyphicon glyphicon-send"></span></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

@*
    <h2></h2>

    @using (Html.BeginForm("Update", "ControleDisciplinas"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        @Html.TextBoxFor(c => c.disciplina.idDisciplina, new { @value = Model.disciplina.idDisciplina, @type = "hidden" })
        <div class="form-group">
            <label for="descDisciplina">Disciplina</label>
            @Html.TextBoxFor(c => c.disciplina.descDisciplina, new { @value = Model.disciplina.descDisciplina, @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Tipo Disciplina</label><br />
            @Html.DropDownListFor(c => c.disciplina.idTipoDisciplina, new SelectList(Model.listaTipoDisciplina, "idTipoDisciplina", "descTipoDisciplina"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.disciplina.idTipoDisciplina)
        </div>
        @Html.AntiForgeryToken();
        <button type="submit" class="btn btn-primary">Alterar</button>
    }
*@  