@model Pbl.Models.TipoDisciplina
@{
    ViewBag.Title = "Alterar tipo de disciplina";
}
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","ControleTipoDisciplina")" title="Vá para Controle Tipo Disciplinas" class="tip-bottom"><img src="~/Content/img/client.png" class="home" />Tipo disciplina</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">

                <form action="" method="post" class="form-styles">
                    <input name="idTIpoDisciplina" type="hidden" value="@Model.idTipoDisciplina" />
                    <h1>Update</h1>

                    <ul>
                        <li>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Descrição</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea class="form-control" name="descTipoDisciplina" placeholder="Descrição">@Model.descTipoDisciplina</textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @Html.AntiForgeryToken()
                        <li>
                            <div class="form-group groupbutton">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <button type="submit" value="Alterar" class="btn btn-warning">Alterar <span class="glyphicon glyphicon-send"></span></button>
                                </div>
                            </div>

                        </li>
                    </ul>
                    @*
    <ul>
        <li>
            <input name="descTipoDisciplina" type="text" value="@Model.descTipoDisciplina" />
            <span>Informa a Descrição</span>
        </li>
        @Html.AntiForgeryToken()
        <li>
            <input type="submit" value="Alterar" />
        </li>
    </ul>
                    *@
                </form>
            </div>
        </div>
    </div>
</div>

@*
    <h2>Update</h2>

    @using (Html.BeginForm("Update", "ControleTipoDisciplina"))
    {
        @Html.TextBoxFor(c => c.idTIpoDisciplina, new { @value = Model.idTIpoDisciplina, @type = "hidden" })
        <div class="form-group">
            <label for="descTipoDisciplina">Descrição</label>
            @Html.TextBoxFor(c => c.descTipoDisciplina, new { @value = Model.descTipoDisciplina, @class = "form-control" })
        </div>
        @Html.AntiForgeryToken();
        <button type="submit" class="btn btn-primary">Alterar</button>
    }
*@
