@model Pbl.Models.ControleNotasXAula

@{
    ViewBag.Title = "AvaliarAluno";
}

<h3>
    MED: @(((Pbl.Models.Aula)ViewData["Aula"]).Turma.Med.descMed) |
    Turma: @(((Pbl.Models.Aula)ViewData["Aula"]).Turma.descTurma) |
    Disciplina: @(((Pbl.Models.Aula)ViewData["Aula"]).Disciplina.descDisciplina) |
    Módulo: @(((Pbl.Models.Modulo)ViewData["Modulo"]).descModulo)
    <small> Avalie o aluno @(((Pbl.Models.Aluno)ViewData["Aluno"]).nomeAluno)</small>
</h3>


@using (Html.BeginForm("AvaliarAlunoAction", "GerenciarDisciplinasMinistradas"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">Avaliação de @(((Pbl.Models.Aluno)ViewData["Aluno"]).nomeAluno)</div>
        <div class="panel-body">
            <input type="hidden" name="idControleNotas" value="@Model.idControleNotas" />
            <input type="hidden" name="idAula" value="@Model.idAula"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nota</label>
                        <input type="number" name="nota" min="0" required="required" class="form-control" value="@Model.nota" style="max-width: 70px;" />
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>
    </div>


    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Salvar
        </button>
    </div>
}
