@model Pbl.Models.AvaliacaoTutoria

@{
    ViewBag.Title = "MontarFichaAvaliativa";
    Html.Raw(Json.Encode(ViewData["modulos"]));
}

<h3>
    Cadastrar Ficha Avaliativa
    <small>Formulário para cadastro de uma ficha avaliativa de um problema do grupo tutorial.</small>
</h3>


@using (Html.BeginForm("CriarAvaliacao", "GerenciarProblemasMinistrados"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idAvaliacaoTutoria)
        @Html.HiddenFor(model => model.idProblemaxMed)
        @Html.HiddenFor(model => model.idGrupo)

        <div class="form-group">
            <div class="col-md-2">
                <label for="idModulo">Módulo: </label>
                @Html.DropDownList("idModulo", (SelectList)ViewData["idModulo"], string.Empty, new {@id = "selModulo" })
            </div>
            <div class="col-md-10"></div>
        </div>

        <div class="form-group" style="display:none" id="divDtInicio">
            <div class="col-md-2">
                <label>Data de Início</label>
                @Html.EditorFor(model => model.dtInicio, new { htmlAttributes = new { @class = "form-control input-sm", @type = "date", @onfocus = "validateDataInicio(this)", @id = "dtInicio" } })
                @Html.ValidationMessageFor(model => model.dtInicio, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10"></div>
        </div>

        <div class="form-group" style="display:none" id="divDtFim">
            <div class="col-md-2">
                <label>Data Final</label>
                @Html.EditorFor(model => model.dtFim, new { htmlAttributes = new { @class = "form-control input-sm", @type = "date", @onfocus = "validateDataFim(this)", @id = "dtFim" } })
                @Html.ValidationMessageFor(model => model.dtFim, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
    <script>
        var idModuloLista;
        var idModuloSelecionado;
        var dataInicioModulo;
        var dataFimModulo;


        $('#selModulo').change(function () {
            idModuloSelecionado = document.getElementById('selModulo').value;
            //alert(idModuloSelecionado);
            document.getElementById('divDtInicio').style.display = "block";
        });

        $('#dtInicio').change(function () {
            document.getElementById('divDtFim').style.display = "block";
        });

        alert(@ViewData["modulos"]);

  
        //var data = JSON.parse(model);

        for (i = 0; i < data.length; i++) {
            alert(data[i].idModulo);
        }

    </script>

@{
    <script>
        var obj = jQuery.parseJSON(@{Html.Raw(Json.Encode(ViewData["modulos"]));});
    </script>
    foreach (var item in (List<Pbl.Models.Modulo>)ViewData["modulos"])
    {
        <script>
            idModuloLista = @item.idModulo;
            if(idModuloSelecionado == idModuloLista) {
                dataInicioModulo = '@item.dtInicio.Value.ToShortDateString()';
                dataFimModulo = '@item.dtFim.Value.ToShortDateString()';
                alert(dataInicioModulo);
            }
        </script>
    }
}
    <script>
            function validateDataInicio(dataInicio) {
                alert(dataInicioModulo);
                return 0;
                var dataMin = new Date(dataInicioModulo).toISOString().slice(0, 10);
                var dataMax = new Date(dataFimModulo).toISOString().slice(0, 10);
                alert(dataMin);
                $(dataInicio).attr("min", "2000-01-01");
                $(dataInicio).attr("max", dataMax);
            }

            function validateDataFim(dataFim) {
                var todayDate = new Date().toISOString().slice(0, 10);
                $(dataFim).attr("min", "2000-01-01");
                $(dataFim).attr("max", todayDate);
            }
    </script>
}
