@model Pbl.Models.ViewModel.ListarAvaliacaoTutoriaViewModel

@{
    ViewBag.Title = "SelecionarAluno";
}

<h2>SelecionarAluno</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Grupo 
        </th>
        <th>
            Módulo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.alunosNaoAvaliados)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ControleNotas.InscricaoTurma.Aluno.nomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo.descGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControleNotas.Modulo.descModulo)
            </td>
            <td>
                @Html.ActionLink("Avaliar Aluno", "AvaliarAluno", new { idAvaliacaoTutoria = item.idAvaliacaoTutoria })
            </td>
        </tr>
    }

</table>
