@model IEnumerable<Pbl.Models.Problema>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","ControleProblemas")" title="Vá para Controle Problemas" class="tip-bottom"><img src="~/Content/img/client.png" class="home" />Problemas</a></div>
</div>
<h2>Cadastro de Problemas @Html.ActionLink("Adicionar", "Create", null, new { @class = "classname" })</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">

                <div class="widget-content nopadding">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="myTable">
                            <thead>
                                <tr>
                                    <th>Problema</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var problema in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(c => problema.tituloProblema)</td>
                                        <td>
                                            <i class="fa fa-pencil "></i>  @Html.ActionLink("Alterar", "Update", new { id = problema.idProblema }, new { @class = "alter" })
                                            <i class="fa fa-times "></i>  @Html.ActionLink("Deletar", "Delete", new { id = problema.idProblema }, new { @class = "alter" })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
        </div>
    </div>

</div>
